.intro-row
	svg
		width: 360px
		height: auto
		max-width: 100%
		display: inline-block

		//*
			fill: $pink-color


	.intro-column
		.header
			margin: 20px 0 0 0



	+breakpoint(small only)
		.intro-column
			&:not(:first-child)
				margin-top: 160px




.image-container
	text-align: center





#principles
	.blockquote-column
		margin-top: 50px

	.principle
		padding-top: 80px
		padding-bottom: 0
		float: left
		clear: left
		position: relative

		.number-and-description
			+flexbox
			+flex-direction
		.number
			left: 0
			//top: 100px
			width: 180px
			height: 180px
			position: relative
			+large-number
			display: inline-block
			+align-self(center)
		.description
			+align-self(center)
			padding-left: 70px
			//min-height: 180px
			+italic
			display: inline-block

			.inner


		.footer
			position: relative
			height: 32px
			margin-top: 45px

			.icon
				float: left
				display: inline-block
				width: 30px
				height: 30px
				margin: 0 25px 0 0

				svg
					max-width: 100%
					max-height: 100%
			.name
				float: left
				display: inline-block
				text-transform: uppercase
				vertical-align: top
				z-index: 1
				position: relative
				+font-23
				line-height: 30px
				+normal
				+fira-sans
			.line
				position: absolute
				left: 55px
				right: 0
				top: 16px

				height: 10px
				background: white


	@media #{breakpoint(small only)}
		.principle
			.number
				font-size: 90px
				width: 90px
				height: 90px

			.description
				padding-left: 30px

#clients
	.logo
		display: block
		float: left
		width: 200px
		height: 200px
		padding: 20px

		svg
			display: block
			width: 160px
			height: 160px

			*
				fill: $light-gray-text-color

		&:hover
			svg
				*
					fill: $pink-color
