.contacts-banner
	.phone-number
		color: inherit
		+font-60


	.page-banner-description-block
		.numbers
			margin-top: -40px


.emails-with-description
	+font-20

	.email
		display: inline-block
		color: inherit


		&:hover
			+link-hover

	.description
		+italic
		display: inline-block
		color: $pink-color
		&:before
			content: "\2014"

.office
	padding-top: 80px
	padding-bottom: 150px

	.small-header
		margin-top: 50px

	.address
		+font-20


.social-links
	margin: 10px 0 0 0