body[controller-action="pages__index"]
	#tubular-container
		+grayscale
	#tubular-shield
		background: rgba(0, 0, 0, 0.6)

.full-page-container
	//background: rgba(0, 0, 0, 0.85)
	z-index: $zindex-home-fullpage-container
	position: relative
	.page-section
		height: 100vh

#welcome-block
	width: 850px
	position: absolute
	+transform(translate(-50%, -50%))
	left: 50%
	top: 50%

	&:before
		width: 280px
		height: 280px
		border: 4px solid $violet-color
		position: absolute
		display: block
		content: ""

	.inner
		position: relative
		padding: 30px

	.white-header
		+header-font-family
		+font-60-500

		color: $dark-white-color
		line-height: 80px
		margin-top: 15px
		margin-bottom: 40px


	.blue-header
		+font-32

#home-portfolio-section
	background: red
#home-services-section
	background: #212121


.home-portfolio-slide
	text-align: center
	color: $dark-white-color
	+font-60-500

#home-services-section
	.service, .services-intro
		width: percentage(1/3)
		height: percentage(1/3)
		display: block
		float: left
		text-decoration: none


	.service-name, .services-intro .title
		+font-45-bold
		line-height: 1
		+header-font-family
		text-transform: uppercase

	.services-intro
		padding: 70px


		.title
			color: $pink-color
		.description
			color: $light-gray-text-color
			+font-20-italic

			line-height: 1.5
			max-width: 470px



	.service
		position: relative
	.service-description
		opacity: 0
		color: $light-gray-text-color
		+transition-property(all)
		+transition-duration(0.75s)
		//+transition-delay(0.5s)
	.service-bg-image
	.service-name-and-description
		position: absolute
		left: 57px
		top: 57px
		+transition-duration(0.5s)
		+transition-property(all)
		+transition-timing-function(ease-in-out)

	.service-name
		max-width: 160px
		width: 100%
		color: $blue-color
		position: relative
		z-index: 1



	.service-icon
		width: 150px
		height: 150px
		position: absolute
		top: 31px
		left: 31px
		display: block
		border: 4px solid $violet-color
		background: none
		+transition-duration(0.5s)
		+transition-property(all)
		+transition-timing-function(ease-in-out)

		svg
			opacity: 0
			width: 80px
			height: 80px
			top: 35px
			left: 35px
			display: block
			position: relative
			+transition-duration(0.5s)
			+transition-property(all)
			+transition-timing-function(ease-in-out)
			*
				fill: white
				opacity: 1


	.service
		position: relative
		overflow: hidden

		.service-bg-image
			background-size: cover
			position: absolute
			width: 100%
			height: 100%
			+grayscale
			+transition-property(all)
			+transition-duration(1s)

			&:after
				+overlay

		&:hover
			.service-name-and-description
				left: 215px
			.service-description
				opacity: 1
			.service-icon
				background: $pink-color
				border-color: transparent


				svg
					opacity: 1

			.service-bg-image
				+transform(scale(1.2))

			.service-name

body.fp-viewing-3 .service,  body.fp-viewing-3 .services-intro 
	height: calc(33.3333vh - #{200px/3}) !important
body.fp-viewing-2, body.fp-viewing-3
	#header-logo, #header-hire-us-button-wrap
		display: none
