


.services
	color: $dark-text-color

	.service
		height: 75vh
		width: 100%
		position: relative

	.number
		position: absolute
		z-index: 0
		font-size: 400px
		bottom: -50px
		right: -8px
		line-height: 1
		color: #D3D3D3
		opacity: 0.2

	.service-image
		width: 50%
		height: 100%
		float: right
		background-size: cover
		background-repeat: no-repeat


		+grayscale

	.service-info
		background: $dark-white-color
		width: 50%
		height: 100%
		position: relative
		//overflow: hidden
		float: left

		&:after
			content: ""
			display: block
			position: absolute
			top: 15%
			width: 0
			height: 0
			border-style: solid
		.inner
			z-index: 1
			position: absolute
			top: 15%
			//+transform(translateY(-50%))
			padding: 100px 100px 100px 140px
			padding: 0px 100px 100px 140px

		.service-icon
			display: block
			svg
				width: 120px
				height: 80px
				*
					opacity: 1
					fill: $pink-color


		.service-name
			color: $pink-color
			+font-45
			+font-weight-500
			line-height: 1
			+fira-sans
			text-transform: uppercase
			margin: 15px 0 20px 0
			//padding-bottom: 25px
			display: block

		.item-links
			margin-top: 70px


			.icon-link-label
				color: $pink-color


	.service
		&:nth-child(2n+1)
			.number
			
			.service-info
				&:after
					left: 100%
					border-width: 16px 0 16px 16px
					border-color: transparent transparent transparent $dark-white-color
		

		&:nth-child(2n+2)
			color: $light-text-color
			.service-image
				float: left

			.service-info
				float: right
				background: none

				&:after
					right: 100%
					border-width: 16px 16px 16px 0
					border-color: transparent $black-color transparent transparent

					.number
						opacity: 0.1