/iframe id="tubular-player" style="position: absolute; width: 1616px; height: 909px; left: -168px; top: 0px;" frameborder="0" allowfullscreen="1" title="YouTube video player" width="1280" height="720" src="https://www.youtube.com/embed/o1prvOC1_90?controls=0&amp;showinfo=0&amp;modestbranding=1&amp;wmode=transparent&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fnew.voroninstudio.eu&amp;widgetid=1"
/iframe frameborder="0" allowfullscreen="1" title="YouTube video player" width="1280" height="720" src="https://www.youtube.com/embed/o1prvOC1_90?controls=0&amp;showinfo=0&amp;modestbranding=1&amp;wmode=transparent&amp;enablejsapi=1&amp;origin=http%3A%2F%2Fnew.voroninstudio.eu&amp;widgetid=1"
/- iframe_url_options_str = @iframe_url_options.map{|k, v| "#{k}=#{v}" }.join("&")

/iframe frameborder="0" allowfullscreen="1" title="YouTube video player" width="1280" height="720" src="https://www.youtube.com/embed/#{@video_key}?#{iframe_url_options_str}"

/= youtube_video_iframe(@video_key, "home-youtube-video-bg")



