sass:
  .section
    &:nth-child(1)
      background: red !important
    &:nth-child(2)
      background: green !important
    &:nth-child(3)
      background: blue !important


.full-page-container
  .section.page-section

  .section.page-section

  .section.page-section