- section_bg = (bg_img = @project.logo_and_ci_bg_image).exists? ? bg_img.url : nil

#project-logo.project-section.project-logo-section.light-bg data-navigation-color="dark" class=("section-bg-image" if section_bg) style=("background-image: url('#{section_bg}');" if section_bg)
  = raw @project.logo_and_ci