.banner-image-container
  img
    animation: animationFrames linear 30s
    animation-iteration-count: infinite
    -webkit-animation: animationFrames linear 30s
    -webkit-animation-iteration-count: infinite
    -moz-animation: animationFrames linear 30s
    -moz-animation-iteration-count: infinite
    -o-animation: animationFrames linear 30s
    -o-animation-iteration-count: infinite
    -ms-animation: animationFrames linear 30s
    -ms-animation-iteration-count: infinite

@keyframes animationFrames
  0%
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg)
  10%
    -webkit-transform: rotate(41deg) translateX(48px) rotate(-40deg)
  30%
    -webkit-transform: rotate(82deg) translateX(42px) rotate(-80deg)
  40%
    -webkit-transform: rotate(121deg) translateX(39px) rotate(-120deg)
  50%
    -webkit-transform: rotate(158deg) translateX(43px) rotate(-160deg)
  60%
    -webkit-transform: rotate(196deg) translateX(48px) rotate(-200deg)
  70%
    -webkit-transform: rotate(239deg) translateX(52px) rotate(-240deg)
  80%
    -webkit-transform: rotate(282deg) translateX(54px) rotate(-280deg)
  90%
    -webkit-transform: rotate(321deg) translateX(52px) rotate(-320deg)
  100%
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg)