+keyframes(animate-desktop-slider-bg)
	0%
		height: 0
	100%
		height: 70%
.desktop-slider
	$slider-height: 100%
	margin: 0 auto
	@media #{$small-only}
		width: 80%

	position: relative
	.slider-outer
		max-width: 1000px
		margin: 0 auto
		position: relative
		overflow: hidden
	.screen-image

		width: 90%

		position: relative

		margin: 0 auto
		img
			z-index: 1
			margin: 0 auto
			display: block
			position: relative
			width: 100%
			// max-width: 1000px

		&:before
			content: ''
			position: absolute
			height: 70%
			bottom: 10%
			left: -50px
			right: -50px

	&.animate-bg
		.screen-image
			&:before
				+animation-name(animate-desktop-slider-bg)
				+animation-duration(1s)
				+animation-timing-function(ease-out)


	.slider-inner
		position: absolute
		top: 4%
		left: 8%
		right: 8%
		height: 70%
		.screen-images-bxslider-wrap
			height: $slider-height

	.screen-images-bxslider
		height: $slider-height
		img
			height: 100%
			width: 100%

	.screen-images-bxslider-wrap
		.bx-wrapper
			border: none
			box-shadow: none
			height: 100%
			margin: 0

		.bx-viewport
			height: 100% !important


	.custom-controls
		.bx-prev
			left: 20px

		.bx-next
			right: 20px