#header
  position: fixed
  width: 100%
  //height: 100px
  height: 120px
  z-index: $zindex-header
  +transition-property(transform,-webkit-transform)
  +transition-property(top)
  +transition-duration(1s)
  //+translate(0,-100%)
  top: -120px
  overflow: hidden

  &.scrolled, &.visible
    //+translate(0,0)
    top: 0
    position: fixed
  &.visible
    position: absolute

  &.scrolled
    &.scroll-larger-than-header-height
      background: $black-color

    .logo-svg
      width: 130px
  body.has-opened-menu &
    background: none

  +breakpoint(small only)
    height: 76px

#header-hire-us-button-wrap
  position: absolute
  //top: 53px
  top: 35px
  right: 120px

#header-logo
  position: absolute
  top: 36px
  left: 60px
  width: 140px

  svg
    width: 108px
    height: 36px

  @media #{$small-only}
    //top: 5px
    top: 18px
    left: 25px
    svg
      //width: 120px


#svg-logo-symbol
  path
    +transition-property(all)
    +transition-duration(0.5s)
#svg-logo-word-voronin, #svg-logo-word-studio
  +transition-property(all)
  +transition-duration(1s)


#main-menu-button
  position: absolute
  right: 60px
  top: 50px
  cursor: pointer

  .inner
    +burger($width: 30px, $height: 2px, $gutter: 5px, $color: #fff, $border-radius: 0, $transition-duration: .3s)

  &:hover
    .inner
      &, &:before, &:after
        background-color: $pink-color
  @media #{$small-only}
    top: 30px
    right: 25px

body.has-opened-menu
  #main-menu-button
    .inner
      +burger-to-cross()
  #header-hire-us-button-wrap
    display: none

body:not(.has-opened-menu)
  #header-logo
    #svg-logo-symbol:not(:hover)
      path
        fill: $dark-white-color

    #svg-logo-word-voronin, #svg-logo-word-studio
      //display: none
      opacity: 0



body[controller-action="pages__index"]
  #header
    background: none !important

body
  &[controller-action="pages__index"]
    &[data-full-page-section="1"], &[data-full-page-section="2"], &[data-full-page-section="3"]
      #header-logo
        display: none
    &.has-opened-menu
      #header-logo
        display: block

    &[data-full-page-section="1"]
      &[home-active-slide="arazzinni"]
        #main-menu-button
          .inner
            &, &:before, &:after
              background-color: #876036

          &:hover
            .inner
              &, &:before, &:after
                background-color: $pink-color

  &[data-full-page-section="2"]
    &:not(.has-opened-menu)
      #header
        height: 0
        overflow: visible

body.has-opened-menu

  #main-menu-button
    .inner
      background-color: transparent !important

      &:before, &:after
        background: white !important

    &:hover
      .inner
        &:before, &:after
          background: $pink-color !important