#home-footer
	z-index: $zindex-home-footer
	.inner
		display: block
		position: relative
		height: 175px
		background: $pink-color

	.btn
		min-width: 200px
		margin-top: 64px

	.text
		color: $dark-white-color
		text-transform: uppercase
		+font-36
		+semi-bold
		+header-font-family
		max-width: 550px
		line-height: 1
		padding-top: 50px
		letter-spacing: 5px


	@media #{breakpoint(small only)}
		position: relative

		text-align: center

		.inner
			height: 360px
		.text
			max-width: none
		.btn
			min-width: 0