.page-banner
	position: relative
	height: 80vh
	width: 100%
	overflow: hidden


.page-banner-description-block
	position: absolute
	top: 50%
	left: 50%
	+transform( translate(-50%, -50%))
	display: block
	width: 800px
	height: 80px

	.inner
		position: relative


	.rect
		height: 80px
		border: 5px solid $violet-color

	.title
		+header-font-family
		font-size: 56px
		color: $dark-white-color
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 4px
		top: -40px
		left: -50px
		position: absolute

	.numbers
		color: $blue-color
		+header-font-family
		position: absolute

		//bottom: -17px
		top: 100%
		margin-top: -20px
		right: 30px

		.number-with-subtitle
			position: relative
			float: left
			margin-left: 55px

			.number
				line-height: 45px
				+font-60

		.subtitle
			color: $light-gray-text-color
			position: relative
			right: 0
			//bottom: -50px
			transform: translateX(50%)
			+light


.page-banner-bg
	background-size: cover
	height: 100%
	position: absolute
	width: 100%

	+grayscale

	&:after
		+overlay(0.85)

.scroll-down
	color: $light-gray-text-color
	position: absolute
	display:  block
	bottom: 40px
	left: 50%
	+transform(translateX(-50%))
