.project-navigation
	position: fixed
	top: 50%
	left: 0
	+transform(translateY(-50%))
	z-index: $zindex-project-navigation

	> .inner
		position: relative

	.project-navigation-link
		display: block
		position: relative

		&:before
			content: ""
			width: 50px
			+transition-duration(0.5s)
			+transition-property(all)
			background: rgba(#fff, 0.6)
			position: absolute
			height: 2px
			bottom: 0
		.title
			opacity: 0
			color: #fff
			+transition-delay(0.1s)
			+transition-duration(0.5s)
			+transition-property(all)

		&:hover
			&:before
				width: 100%
			.title
				opacity: 0.6
		&.active
			&:before
				width: 100%
				background: #fff
			.title
				opacity: 1


	&.dark
		.project-navigation-link
			.title
				color: #212121

			&:before
				background: rgba(#212121, 0.6)
			&.active
				&:before
					background: rgba(#212121, 1)
