//$block-width: unquote("#{(99.2/6)}vw")
$block-width: percentage(1/6)
$projects-popup-bg: $light-gray-text-color
$projects-popup-bg: $body-bg-color

$circle-1-bg: $pink-color
$circle-2-bg: $violet-color
$circle-3-bg: $blue-color

$circle-in-duration: 2s




+keyframes(show-popup-from-circle-1)
	0%
		opacity: 0.5
		width: 40px
		height: 40px
		right: 80px
		bottom: 67px
	35%, 90%
		opacity: 1
		bottom: -37.5vmax
		right: -37.5vmax
		width: 100vmax
		height: 100vmax


	100%
		opacity: 0



+keyframes(show-popup-from-circle-2)
	0%, 30%
		width: 40px
		height: 40px
		right: 80px
		bottom: 67px
	70%, 90%
		bottom: -37.5vmax
		right: -37.5vmax
		width: 125vmax
		height: 125vmax
	0%, 50%
		opacity: 1
	100%
		opacity: 0

+keyframes(show-popup-from-circle-3)
	0%, 30%
		width: 40px
		height: 40px
		right: 80px
		bottom: 67px
	70%
		bottom: -37.5vmax
		right: -37.5vmax
		width: 125vmax
		height: 125vmax
	90%
		bottom: -50vmax
		right: -50vmax
		width: 200vmax
		height: 200vmax
	0%, 50%
		opacity: 1
	100%
		opacity: 0


+keyframes(close-popup-to-circle)
	0%
		bottom: -50vmax
		right: -50vmax
		width: 200vmax
		height: 200vmax

	100%
		width: 40px
		height: 40px
		right: 80px
		bottom: 67px

+keyframes(show-project-item-from-circle)
	0%
		opacity: 0
		//border-radius: 50%
	100%
		opacity: 1
		//border-radius: 0

.projects-popup

	//background: $body-bg-color
	//background: $light-gray-text-color
	background: none
	+transition-property(none)


	.circle1, .circle2, .circle3
		position: absolute
		bottom: 67px
		right: 80px
		content: ""
		background: $projects-popup-bg
		border-radius: 50%
		width: 40px
		height: 40px

	&.show
		display: block




	body.has-opened-projects-popup &


		.circle1
			background: $circle-1-bg
			z-index: 3
			+animation-duration($circle-in-duration)
			+animation-name(show-popup-from-circle-1)
			+animation-timing-function(ease-in)
		.circle2
			background: $circle-2-bg
			z-index: 2
			+animation-duration($circle-in-duration)
			+animation-name(show-popup-from-circle-2)
			+animation-timing-function(ease-in)
		.circle3
			background: $circle-3-bg
			z-index: 1
			+animation-duration($circle-in-duration)
			+animation-name(show-popup-from-circle-3)
			+animation-timing-function(ease-in)
	&.play-closing-animation
		&:before
			+animation-duration(1s)
			+animation-name(close-popup-to-circle)





	&.popup.fullscreen-popup



	.projects-popup-content
		opacity: 0



	&.ready
		background: $projects-popup-bg
		.projects-popup-content

			opacity: 1

		.project
			+animation-name(show-project-item-from-circle)
			+animation-duration(0.5s)
			overflow: hidden
			display: none
			&.show
				display: block

	.block
		display: block
		position: relative
		width: $block-width

		//display: inline-block
		float: left

		//height: 0
		//padding-top: 100%
		height: $block-width

		&.active
			border: 5px solid white

	.portfolio-link-block


		.portfolio-link
			+transform(translate(-50%, 0))
			position: absolute
			top: 50px
			left: 50%

			svg
				width: 80px
				height: 80px

			.image-wrap
				//width: 60px
				//overflow: hidden
				//margin: 0 auto

		.close-button-and-text
			top: 180px
			position: relative
			text-align: center
			cursor: pointer
		.close-button
			display: inline-block
			width: 30px
			height: 30px
			//background: $dark-white-color
			position: relative
			//border-radius: 50%
			//padding: 10px 0px 0px 4px
			//.inner
				+burger($width: 20px, $color: $black-color, $height: 2px)
				+burger-to-cross()

		.close-button-and-text
			&:hover
				.close-button
					//background: $pink-color

				svg
					*
						fill: $pink-color

				.close-text
					color: $pink-color




	body.has-opened-projects-popup &
		display: block



