.project-bottom-banner
	.project-description-block
		max-width: 550px
		position: relative
		top: 200px
	.title
		color: white
		+font-45-bold
		text-transform: uppercase
		+header-font-family

	.description
		color: #212121
		+font-23
		+italic

	.or-share
		color: $light-gray-text-color
		margin: 0 30px
		+italic


	.social-link
		background: #212121
		svg
			path
				fill: white

	.actions
		+top-inner-indent(45)