.project-banner
	min-height: 100vh

	.project-description-block
		margin: 90px 0 0 0
		.title
			letter-spacing: 6px
			line-height: 1
			+header-font-family
			text-transform: uppercase
			font-size: 100px
			+bold
		sup
			letter-spacing: 0
			top: 0
			vertical-align: top
			line-height: 1
			+body-font-family
			text-transform: lowercase
			+font-23
			+italic
			//+italic
			+light


		.description
			color: $light-gray-text-color
			max-width: 550px
			+font-23
			+italic