.projects
  .project
    display: block
    position: relative
    width: $block-width
    float: left
    opacity: 0
    +transition(0.5s)
    &.visible
      opacity: 1

.project
  .description-block
    // padding: 4rem 0 0 0
    opacity: 0
    background: $pink-color
    top: 0
    bottom: 0
    left: 0
    right: 0
    position: absolute
    color: white
    text-align: center
    overflow: hidden
    +transition-property(all)
    +transition-duration(1s)

    .inner
      position: absolute
      width: 80%
      height: 60%
      top: 50%
      left: 50%
      +translate(-50%,-50%)

    .project-number
      bottom: -40px
      right: 40px
      width: 180px
      height: 180px
      position: absolute
      +large-number($color: rgba($dark-white-color, 0.15))
      font-size: 250px
      display: inline-block
      back

    .name
      +bold
      text-transform: uppercase
      +font-20
      +fira-sans
      padding: 0 15px
      line-height: 1.31rem
      letter-spacing: 2px

    .separator
      background: white
      width: 40px
      height: 1px
      display: inline-block
      position: relative
      top: -3px

    .project-related-services
      display: inline-block
      padding: 0 0 10px 0

      .icon
        display: inline-block
        margin-right: 20px

        svg
          //width: 30px
          //height: 30px
          //width: 36px
          //height: 36px

        #{$svg-part-selector}
          opacity: 1
          fill: white

        &:last-child
          margin-right: 0


  &:hover
    .description-block
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      opacity: 1
