.social-link
	width: 40px
	height: 40px
	display: inline-block
	margin: 0 5px
	background: rgb(144, 164, 174)

	svg
		width: 24px
		position: relative
		top: 8px
		left: 8px


		path
			fill: $black-color
