
body[controller-action="pages__index"]
  +breakpoint(large up)
    overflow: hidden

.full-page-container
  .section-container
    overflow: auto
    max-height: 100vh
    position: relative
    display: block
  .section-content
    +clearfix
  .page-section
    overflow: hidden
    position: relative
    max-height: 100vh
    +transition-property(max-height)
    +transition-duration(0.5s)
    height: 100vh
    +transform(translateZ(0))
    opacity: 0.99

    &:not(.active)
      max-height: 0

    &.fp-min-screen-height
      min-height: 100vh
    &.fp-auto-height
      height: auto
      +transition-duration(0.75s)
      +transition-property(unquote(css3-prefix(transform)))
      width: 100%
      +translate3d(0, 0)
      max-height: 100vh

      &.active
        //position: fixed
        //bottom: 0

        +translate3d(0, -175px)

  //@media #{breakpoint(medium down)}
  @media #{breakpoint(xxlarge down)}
    .page-section
      overflow: visible
      height: auto

      &.small-one-screen
        overflow: hidden
        height: 100vh

      &:not(.active)
        max-height: none

      //&#home-services-section
        &:not(.active)
          max-height: 0

          & + .page-section:not(.active)
            display: none

      &.small-one-screen
        max-height: 0

        &.active
          max-height: 100vh

      &.fp-auto-height
        &.active
          //position: relative
          //bottom: auto



    #home-services-section
      max-height: none
      +clearfix
