$theme-10g-force-yellow-color: rgb(255, 170, 44);
$theme-10g-force-red-yellow-color: rgb(239, 80, 35);
$theme-10g-force-sky-blue-color: rgb(89, 200, 230);
$theme-10g-force-blue-color: rgb(44, 171, 225);

body.theme-10g-force{
  @include theme("10g-force",
    $body_bg: $black-color,
    $primary_color: rgb(89, 200, 230),
    $secondary_color: rgb(255, 170, 44),
    $third_color: rgb(239, 80, 35),
    $button_lines_color: rgb(239, 80, 35),
    $desktop_slider_background_color: rgb(239, 80, 35),
    $technology_color: rgb(255, 170, 44),
    $technology_name_color: white,
    $technology_svg_orbit_color: rgba(#fff, 0.2),
    $project_bottom_banner_title_color: rgb(239, 80, 35),
    $project_bottom_banner_description_color: $black-color,
    $project_bottom_banner_buttons_color: $black-color
  )
}

body.theme-plit {
  @include theme("plit",
    $body_bg: #01AF40,
    $primary_color: #303E47,
    $secondary_color: #ffffff,
    $third_color: #01AF40,
    $project_large_section_title_color: rgba(0,0,0,0.1),
    $top_banner_description_color: white,
    $desktop_slider_background_color: white,
    $technology_color: #01AF40,
    $technology_name_color: #303E47,
    $technology_svg_orbit_color: rgba(#000000, 0.1),
    $project_bottom_banner_title_color: #01AF40,
    $project_bottom_banner_description_color: white,
    $project_bottom_banner_buttons_color: #01AF40,
    $ux_text_color: #303E47,
    $ux_header_color: #01AF40,
    $seo_text_color: #303E47,
    $seo_header_color: #01AF40,
    $tech_text_color: #303E47,
    $tech_header_color: #01AF40
  )
}

$arazzinni-brown-color: #876036;
$arazzinni-black-color: #212121;

body.theme-arazzinni {
  @include theme("arazzinni", $primary_color: $arazzinni-brown-color, $secondary_color:$arazzinni-black-color, $body_bg: white, $body_color:$arazzinni-black-color, $top_banner_title_color:$arazzinni-black-color)
}

body.theme-valko{
  @include theme("valko")
}

body.theme-shuvar_info{
  @include theme("shuvar_info",
    $body_bg: #029AE4,
    $primary_color: #36464E,
    $secondary_color: #ffffff,
    $third_color: #36464E,
    $project_large_section_title_color: rgba(0,0,0,0.1),
    $top_banner_description_color: white,
    $desktop_slider_background_color: #36464E,
    // $technology_color: #01AF40,
    // $technology_name_color: white,
    // $technology_svg_orbit_color: rgba(#000000, 0.1),
    $project_bottom_banner_title_color: #029AE4,
    $project_bottom_banner_description_color: #36464E,
    $project_bottom_banner_buttons_color: #029AE4,
    $ux_text_color: #36464E,
    $ux_header_color: #029AE4
    // $seo_text_color: #303E47,
    // $seo_header_color: #01AF40,
    // $tech_text_color: #303E47,
    // $tech_header_color: #01AF40
    )
}
body.theme-millwood{
  @include theme("millwood",
    $body_bg: white,
    $body_color: #a98f72,
    $primary_color: #4c6e32,
    $secondary_color: #a98f72,
    $third_color: #a98f72,
    $project_large_section_title_color: rgba(0,0,0,0.1),
    $top_banner_description_color:#a98f72 ,
    $desktop_slider_background_color: #d3b184,
    $technology_color: #4c6e32,
    $technology_name_color: #d8ccc2,
    $technology_svg_orbit_color: white,
    $project_bottom_banner_title_color: #4c6e32,
    $project_bottom_banner_description_color: #a98f72,
    $project_bottom_banner_buttons_color: #4c6e32,
    // $ux_text_color: #36464E,
    // $ux_header_color: #029AE4
    // $seo_text_color: #303E47,
    // $seo_header_color: #01AF40,
    $tech_text_color: #a98f72,
    $button_lines_color: #a98f72,
    $tech_header_color: #4c6e32
    )
}
body.theme-yantalia{
  @include theme("yantalia",
    $body_bg: #ffe328,
    $body_color: #a63f22,
    $primary_color: #f44400,
    $secondary_color: #a63f22,
    $third_color: #a98f72,
    $project_large_section_title_color: rgba(0,0,0,0.1),
    $top_banner_description_color: #9a281c ,
    //$desktop_slider_background_color: #d3b184,
    //$technology_color: #4c6e32,
    //$technology_name_color: #d8ccc2,
    //$technology_svg_orbit_color: white,
    $project_bottom_banner_title_color: #f44500,
    $project_bottom_banner_description_color: #aa3e1f,
    $project_bottom_banner_buttons_color: #f44601,
    // $ux_text_color: #36464E,
    // $ux_header_color: #029AE4
    // $seo_text_color: #303E47,
    // $seo_header_color: #01AF40,
    $tech_text_color: #fa9d19,
    $button_lines_color: #ac4a20,
    $tech_header_color: #f44400
    )
}
body.theme-budapest{
  @include theme("budapest",
    $body_bg: #653a2a,
    $body_color: #bd955a,
    $primary_color: #bd955a,
    $secondary_color: #bd955a,
    $third_color: #c29c63,
    $project_large_section_title_color: rgba(0,0,0,0.1),
    $top_banner_description_color: #bd955a ,
    $desktop_slider_background_color: #bc9458,
    $technology_color: #bc9458,
    $technology_name_color: #bc9458,
    $technology_svg_orbit_color: #bc9458,
    $project_bottom_banner_title_color: #65392b,
    $project_bottom_banner_description_color: #65392b,
    $project_bottom_banner_buttons_color: #65392b,
    // $ux_text_color: #36464E,
    // $ux_header_color: #029AE4
    // $seo_text_color: #303E47,
    // $seo_header_color: #01AF40,
    $tech_text_color: #b18952,
    $button_lines_color: #b18952,
    $tech_header_color: #b18952
    )
}