.clearfix
  +clearfix

body
  background: $body-bg-color
  +body-font-family


a
  cursor: pointer
  text-decoration: none
  +transition-property(all)
  +transition-duration(0.2s)

  &:hover
    color: $pink-color

label
  cursor: inherit
  +user-select(none)

.blue-header
  color: $blue-color

.icon-link
  cursor: pointer
  text-decoration: none
  margin-right: 95px
  display: inline-block

  svg
    margin-right: 15px
    *
      fill: $pink-color
.icon-link-label
  color: $light-gray-text-color
  vertical-align: top
  line-height: 21px
  +transition(inherit)
  +fira-sans
  font-size: 1rem
.icon-link
  &:hover
    .icon-link-label
      color: $pink-color

.light-bg
  background: $dark-white-color

.text-center
  text-align: center

.text-right
  text-align: right

.left
  float: left !important