$radok-red-orange-color: #ff5a2a
$plit-green-color: #01ae42
$plit-gray-color: #303e49
$arazzinni-brown-color: #876036
$arazzinni-black-color: #212121
.home-portfolio-slide
	.wing
		position: absolute
		fill: $radok-red-orange-color
		left: 100px
		top: -300px
		width: 1200px

	.hero
		position: absolute
		left: 300px
		top: 200px

	.project-description-block
		position: absolute
		right: 250px
		width: 430px
		top: 200px

		.title
			color: white
			+font-60

			sup
				color: $radok-red-orange-color
		.description
			color: white

		.service-icons
		.service-icon
			display: inline-block
			margin-right: 20px

			svg
				width: 40px
				height: 40px

				*
					opacity: 1
					fill: $radok-red-orange-color


.home-portfolio-slide-plit
	background: $plit-gray-color

	.project-description-block
		.service-icon
			svg
				*
					fill: $plit-green-color


		.title
			sup
				color: $plit-green-color

.home-portfolio-slide-arazzinni
	background: white
	.project-description-block
		.service-icon
			svg
				*
					fill: $arazzinni-brown-color


		.title
			color: $arazzinni-black-color
			sup
				color: $arazzinni-brown-color


.home-portfolio-slide-plit, .home-portfolio-slide-arazzinni
	.hero
		left: 0
		top: 0