body.theme-10g-force
	$theme-10g-force-yellow-color: rgb(255, 170, 44)
	$theme-10g-force-red-yellow-color: rgb(239, 80, 35)
	$theme-10g-force-sky-blue-color: rgb(89, 200, 230)
	$theme-10g-force-blue-color: rgb(44, 171, 225)
	//+theme($blue-color)
	//+theme(#00c6f2)
	//+theme(rgb(89, 200, 230), #FFA500)
	+theme($theme-10g-force-sky-blue-color, $theme-10g-force-yellow-color, $theme-10g-force-red-yellow-color,$technology-color: $theme-10g-force-yellow-color,$project-bottom-banner-title-color: $theme-10g-force-red-yellow-color,$button-lines-color: $theme-10g-force-red-yellow-color, $desktop-slider-background-color: $theme-10g-force-red-yellow-color)

	.yellow-bg
		background: $theme-10g-force-yellow-color

	.red-yellow-bg
		background: $theme-10g-force-red-yellow-color

	.sky-blue-bg
		background: $theme-10g-force-sky-blue-color

	.blue-bg
		background: $theme-10g-force-blue-color

	.logo-column
		position: relative
		height: 500px
		// svg
		// 	width: 600px
		// 	max-width: 100%
		// 	height: 400px
		img
			position: absolute
			width: 150%
			max-width: 1000px
			max-width: none
			right: 0
			top: 50%
			+translate(0,-50%)
		@media #{$small-only}
			height: 200px
			img
				right: -50px



	.logo-color
		margin-bottom: 20px
		.circle
			display: inline-block
			width: 60px
			height: 60px
			border-radius: 50%
		.description
			font-style: italic
			line-height: 1.125rem

	.mono-colored-logos
		.logo
			background: white
			svg
			@media #{$small-only}
				padding-top: 25px
				padding-bottom: 25px
			@media #{$medium-up}
				padding-top: 35px
				padding-bottom: 35px
			@media #{$xlarge-up}
				padding-top: 75px
				padding-bottom: 75px


			&:nth-child(1n)
				svg
					width: 100px
					height: 150px

			&:nth-child(1n+4)
				background: #212121
				svg
					width: 150px
					height: 100px
				@media #{$small-only}
					padding-top: 25px
					padding-bottom: 25px
				@media #{$medium-up}
					padding-top: 35px
					padding-bottom: 35px
				@media #{$xlarge-up}
					padding-top: 100px
					padding-bottom: 100px


	.project-used-icons
		background: asset_url("projects/10g-force/icons-bg.jpg")
		img
			max-width: 300px


	.project-bottom-banner
		background-color: white

		img
			@media #{$large-up}
				+transform(scale(1.2))