body.theme-plit
  .white-bg
    background-color: #fff
  .desktop-indent
    @media #{$large-up}
      padding-top: 210px
  .images-container
    img
      margin: 50px 0
  .img-container
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 1000px
    overflow: hidden
    img
      position: absolute
      right: 0
      bottom: -15%
      width: 50%
      @media #{$small-only}
        width: 70%
      @media #{$medium-only}
        width: 80%

  .project-bottom-banner
    background-color: white
    .banner-image-container
      img
        position: absolute
        right: -30%
        bottom: 0
        width: 200%
        max-width: 1200px

        @media #{$small-only}
          width: 100%
          +scale(1.2)
        @media #{$landscape}
          right: -50%

  +theme($body_bg: #01AF40, $primary_color: #303E47, $secondary_color: #ffffff, $third_color: #01AF40, $project_large_section_title_color: rgba(0,0,0,0.1), $top_banner_description_color: white, $desktop_slider_background_color: white, $technology_color: #01AF40, $technology_name_color: #303E47, $technology_svg_orbit_color: rgba(#000000, 0.1), $project_bottom_banner_title_color: #01AF40, $project_bottom_banner_description_color: white, $project_bottom_banner_buttons_color: #01AF40, $ux_text_color: #303E47, $ux_header_color: #01AF40, $seo_text_color: #303E47, $seo_header_color: #01AF40, $tech_text_color: #303E47, $tech_header_color: #01AF40)